$notification: (
  danger: #820d14,
  success: #166625,
  warning: #fff3cd,
);

$colors: (
  blue: #2abae4,
  dark: #343a40,
  gray: #aaa,
  green: #1d6f42,
  purple: #9b59b6,
  red: #c0392b,
  typescript: #2b7489,
  yellow: #ffcc33,
);

$numbers: (5, 8, 10, 12, 15, 18, 20, 25, 50);

@each $key, $color in $notification {
  .notification-#{$key} {
    background: linear-gradient(125deg, lighten($color, 65), lighten($color, 50)) !important;
    border-color: lighten($color, 55);
    color: $color;
  }

  .text-#{$key} {
    color: $color !important;
  }
}

@each $key, $color in $colors {
  .btn-#{$key} {
    background: $color;
    border-color: $color;
    transition: 0.3s;

    &:hover,
    &:focus {
      background: darken($color, 7.5%);
      border-color: darken($color, 10%);
      transition: 0.3s;
    }

    &:active {
      background: darken($color, 10%);
      border-color: darken($color, 12.5%);
      transition: 0.3s;
    }
  }
}

@each $num in $numbers {
  @if $num == 50 {
    .radius-50 {
      border-radius: 50%;
    }
  } @else {
    .radius-#{$num} {
      border-radius: #{$num}px;
    }
  }
}

%flex-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.outline-none {
  box-shadow: none !important;
  outline: 0 !important;
}

.text-dark {
  color: map-get($colors, dark);
}

.btn:focus {
  @extend .outline-none;
}

.input-group-append button {
  @extend .outline-none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @extend .radius-20;
}

svg {
  margin-bottom: 0.25rem;
}

textarea,
input {
  background: #cdcdcd !important;
  border: 0 !important;
  resize: none;
  white-space: pre-wrap;
  @extend .outline-none;
}

header {
  font-weight: bold;

  a.dropdown-item {
    font-weight: bold !important;

    &.active {
      background: transparent;
    }

    &:focus {
      color: #fff !important;
    }
  }

  .navbar-brand {
    color: #fff !important;
    font-size: 1.4rem;
    font-weight: bold;

    svg {
      margin-left: 15px;
    }
  }

  .nav-link {
    color: #fff !important;
    position: relative;

    &:not(.dropdown-toggle)::after {
      background: #fff;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transition: width 0.3s;
      width: 0;
    }

    &.active {
      &:not(.dropdown-toggle)::after {
        background: #fff;
        transition: width 0.3s;
        width: 100%;
      }
    }

    svg {
      margin-bottom: 0;
    }
  }

  .navbar-toggler {
    border-color: #fff !important;

    div {
      background: #fff;
      height: 2px;
      margin: 4px;
      width: 20px;
    }
  }
}

input {
  &.password ~ .inputbd {
    left: 0;
  }

  &:focus {
    background: #cdcdcd !important;

    & ~ .inputbd {
      transition: width 0.4s;
      width: calc(100% - 30px);
    }

    &.password ~ .inputbd {
      width: calc(100% - 41px);
      z-index: 4;
    }
  }
}

@media screen and (min-width: 768px) {
  .query {
    width: 75%;
  }
}

.form-login {
  height: 100vh;
  @extend %flex-content;

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

.form-active {
  height: 100vh;
  @extend %flex-content;

  .form {
    border-radius: 5px;
    box-shadow: 0 2px 10px #0005;
    padding: 30px;

    div {
      @media screen and (max-width: 320px) {
        flex-direction: column;

        button {
          margin: 5px 0;
        }
      }
    }

    h1 {
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 5px;
      text-align: center;
    }
  }
}

.my-form {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  margin: auto;
  min-height: 500px;
  overflow: hidden;
  position: relative;
  width: 75%;
  @extend %flex-content;

  @media screen and (max-width: 425px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    background: #fff;
    flex-direction: column;
    margin: 15px auto;
  }
}

.form-container {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s;

  @media screen and (max-width: 768px) {
    position: relative;
  }

  form {
    background: #fff;
    flex-direction: column;
    height: 100%;
    padding: 0 50px;
    text-align: center;
    @extend %flex-content;

    @media screen and (max-width: 425px) {
      div.w-75 {
        width: 100% !important;
      }
    }

    @media screen and (max-width: 900px) {
      padding: 0;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding-top: 25px !important;

      &:first-child {
        border-bottom: 1px solid #ccc;
        padding-bottom: 25px;
      }
    }

    h1 {
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 5px;
    }

    label {
      width: 100%;
    }

    span.link {
      color: #212529;
      cursor: pointer;
      display: none;
      font-size: 1rem;
      padding: 6px 10px;

      @media screen and (max-width: 900px) {
        display: block;
      }
    }
  }
}

.inputbd {
  background: map-get($colors, blue);
  bottom: 0;
  content: "";
  height: 3px;
  left: 15px;
  position: absolute;
  transition: width 0.4s;
  width: 0;
}

@keyframes show {
  0%,
  49% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.right-panel-active {
  .overlay {
    transform: translateX(50%);
  }

  .overlay-container {
    transform: translateX(-100%);
  }

  .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    transform: translateX(20%);
  }

  .sign-in {
    transform: translateX(100%);

    @media screen and (max-width: 900px) {
      transform: none;
    }
  }

  .sign-up {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;

    @media screen and (max-width: 900px) {
      transform: none;
    }
  }
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;

  @media screen and (max-width: 768px) {
    left: 0;
    width: 80%;
  }
}

.sign-up {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;

  @media screen and (max-width: 768px) {
    left: 0 !important;
    width: 80%;
  }

  @media screen and (max-width: 900px) {
    left: 50%;
    opacity: 1;
  }
}

.overlay {
  background: linear-gradient(to right, map-get($colors, blue), lighten(map-get($colors, blue), 15%));
  color: #ffffff;
  height: 100%;
  left: -100%;
  position: relative;
  transform: translateX(0);
  transition: transform 0.6s;
  width: 200%;
}

.overlay-container {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: transform 0.6s;
  width: 50%;
  z-index: 100;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.overlay-panel {
  flex-direction: column;
  height: 100%;
  padding: 0 40px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: transform 0.6s;
  width: 50%;
  @extend %flex-content;

  h1 {
    font-weight: bold;
    letter-spacing: 0.7px;
  }

  .ghost {
    background: transparent;
    border-color: #ffffff;
    transition: transform 0.3s;

    &:hover,
    &:focus,
    &:active {
      background: inherit;
      border-color: inherit;
      transform: scale(0.95);
      @extend .outline-none;
    }
  }
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);

  div {
    display: flex;
    justify-content: space-between;
    width: 75%;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      width: auto;

      & > button {
        margin: 5px 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .my-btn,
  .query {
    width: 100%;
  }
}

.first {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  & > div {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    @extend %flex-content;
  }
}

.notes {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  list-style: none;
  position: relative;
  width: 100%;

  @media screen and (max-width: 767px) {
    grid-template-columns: auto;
  }

  li {
    cursor: pointer;
    height: 175px;
    max-height: 200px;
    padding: 20px;
    position: relative;
    transition: transform 0.4s, background-color 0.4s;
    @extend .radius-5;

    &:hover {
      transform: scale(1.04);
      transition: transform 0.4s, background-color 0.4s;

      span {
        opacity: 1;

        &:hover {
          transform: scale(1.25);
        }
      }
    }

    div {
      height: 100%;
    }

    h2 {
      margin-bottom: 5%;
    }

    p {
      display: flex;
      max-height: 70px;
      overflow: hidden;
      text-align: justify;
      white-space: pre-wrap;
    }

    span {
      cursor: pointer;
      opacity: 0;
      padding: 10px;
      position: absolute;
      right: -15px;
      top: -15px;
      transition: transform 0.5s, opacity 0.4s;

      svg {
        margin-bottom: 0;
      }
    }
  }
}

.modal-body[title="Descrição da nota"] {
  white-space: pre-wrap;
}
